### AIM: Create and store dataframe containing all participant data relevant for current project

In [4]:
import os
import numpy as np
import pandas as pd

In [5]:
# set folder containing participants data as working directory
working_directory = "D:\Documents\RU\Master_Neurobiology\Internship_jaar_2\Project\TD-BRAIN\TDBRAIN_participants_V2_data"
os.chdir(working_directory)
os.getcwd()

'D:\\Documents\\RU\\Master_Neurobiology\\Internship_jaar_2\\Project\\TD-BRAIN\\TDBRAIN_participants_V2_data'

In [16]:
# load participants data
df_full = pd.read_csv('TDBRAIN_participants_V2.tsv', sep='\t', decimal=',')
df_full = df_full[df_full['participants_ID'].notna()]
df_full

,participants_ID,DISC/REP,indication,formal_status,Dataset,Consent,sessSeason,sessTime,Responder,Remitter,...,BDI_post,rTMS PROTOCOL,ADHD_pre_Hyp_leading,ADHD_pre_Att_leading,ADHD_post_Att_leading,ADHD_post_Hyp_leading,NF Protocol,YBOCS_pre,YBOCS_post,Unnamed: 110
0,sub-19681349,REPLICATION,REPLICATION,REPLICATION,REPLICATION,YES,REPLICATION,REPLICATION,REPLICATION,REPLICATION,...,REPLICATION,2,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,NaN
1,sub-19681385,REPLICATION,REPLICATION,REPLICATION,REPLICATION,YES,REPLICATION,REPLICATION,REPLICATION,REPLICATION,...,REPLICATION,1,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,NaN
2,sub-19684666,REPLICATION,REPLICATION,REPLICATION,REPLICATION,YES,REPLICATION,REPLICATION,REPLICATION,REPLICATION,...,REPLICATION,1,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,NaN
3,sub-19686324,REPLICATION,REPLICATION,REPLICATION,REPLICATION,YES,REPLICATION,REPLICATION,REPLICATION,REPLICATION,...,REPLICATION,2,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,NaN
4,sub-19687321,REPLICATION,REPLICATION,REPLICATION,REPLICATION,YES,REPLICATION,REPLICATION,REPLICATION,REPLICATION,...,REPLICATION,3,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,REPLICATION,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1342,sub-88078657,DISCOVERY,INSOMNIA,INSOMNIA,NaN,YES,fall,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1343,sub-88078749,DISCOVERY,INSOMNIA,INSOMNIA,NaN,YES,winter,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1344,sub-88078793,DISCOVERY,INSOMNIA,INSOMNIA,NaN,YES,winter,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1345,sub-88078837,DISCOVERY,INSOMNIA,INSOMNIA,NaN,YES,winter,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1346,sub-88079017,DISCOVERY,INSOMNIA,INSOMNIA,NaN,YES,winter,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# only select relevant variables for current project
df_participants = df_full.loc[:, ('participants_ID', 'DISC/REP', 'indication', 'formal_status', 'Dataset', 'age', 'gender', 'sessID', 'nrSessions', 'EC', 'EO')]
df_participants

,participants_ID,DISC/REP,indication,formal_status,Dataset,age,gender,sessID,nrSessions,EC,EO
0,sub-19681349,REPLICATION,REPLICATION,REPLICATION,REPLICATION,51.59,0.0,1.0,1.0,1.0,1.0
1,sub-19681385,REPLICATION,REPLICATION,REPLICATION,REPLICATION,49.96,1.0,1.0,1.0,1.0,1.0
2,sub-19684666,REPLICATION,REPLICATION,REPLICATION,REPLICATION,47.05,1.0,1.0,1.0,1.0,1.0
3,sub-19686324,REPLICATION,REPLICATION,REPLICATION,REPLICATION,62.51,1.0,1.0,1.0,1.0,1.0
4,sub-19687321,REPLICATION,REPLICATION,REPLICATION,REPLICATION,53.98,1.0,1.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1342,sub-88078657,DISCOVERY,INSOMNIA,INSOMNIA,NaN,58.59,1.0,1.0,1.0,1.0,1.0
1343,sub-88078749,DISCOVERY,INSOMNIA,INSOMNIA,NaN,37.22,0.0,1.0,1.0,1.0,1.0
1344,sub-88078793,DISCOVERY,INSOMNIA,INSOMNIA,NaN,48.54,1.0,1.0,1.0,1.0,1.0
1345,sub-88078837,DISCOVERY,INSOMNIA,INSOMNIA,NaN,24.63,1.0,1.0,1.0,1.0,1.0
1346,sub-88079017,DISCOVERY,INSOMNIA,INSOMNIA,NaN,42.37,1.0,1.0,1.0,1.0,1.0

In [23]:
# change variables to correct data types
dtypes_dict = {'participants_ID' : 'string', 'DISC/REP' : 'category',
                'indication' : 'category', 'formal_status' : 'category',
                'Dataset' : 'category', 'age' : 'float', 'gender' : 'int',
                'sessID' : 'int', 'nrSessions' : 'int', 'EC' : 'bool', 'EO' : 'bool'}
df_participants = df_participants.astype(dtypes_dict)
df_participants.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1347 entries, 0 to 1346
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   participants_ID  1347 non-null   string
 1   DISC/REP         1347 non-null   category
 2   indication       1088 non-null   category
 3   formal_status    1323 non-null   category
 4   Dataset          365 non-null    category
 5   age              1326 non-null   float64
 6   gender           1347 non-null   int32
 7   sessID           1347 non-null   int32
 8   nrSessions       1347 non-null   int32
 9   EC               1347 non-null   bool
 10  EO               1347 non-null   bool
dtypes: bool(2), category(4), float64(1), int32(3), string(1)
memory usage: 58.5 KB

In [26]:
# check for missing EC or EO recordings
print(df_participants[df_participants['EC'] == False].shape[0])
print(df_participants[df_participants['EO'] == False].shape[0]) # one EO recording missing
df_participants[df_participants['EO'] == False]

0
1

,participants_ID,DISC/REP,indication,formal_status,Dataset,age,gender,sessID,nrSessions,EC,EO
273,sub-87980957,DISCOVERY,Dyslexia,Dyslexia,NaN,11.85,1,2,2,True,False

In [28]:
# store dataframe as pickle file
df_participants.to_pickle('df_participants.pkl')
df_test = pd.read_pickle('df_participants.pkl')
df_test

,participants_ID,DISC/REP,indication,formal_status,Dataset,age,gender,sessID,nrSessions,EC,EO
0,sub-19681349,REPLICATION,REPLICATION,REPLICATION,REPLICATION,51.59,0,1,1,True,True
1,sub-19681385,REPLICATION,REPLICATION,REPLICATION,REPLICATION,49.96,1,1,1,True,True
2,sub-19684666,REPLICATION,REPLICATION,REPLICATION,REPLICATION,47.05,1,1,1,True,True
3,sub-19686324,REPLICATION,REPLICATION,REPLICATION,REPLICATION,62.51,1,1,1,True,True
4,sub-19687321,REPLICATION,REPLICATION,REPLICATION,REPLICATION,53.98,1,1,2,True,True
...,...,...,...,...,...,...,...,...,...,...,...
1342,sub-88078657,DISCOVERY,INSOMNIA,INSOMNIA,NaN,58.59,1,1,1,True,True
1343,sub-88078749,DISCOVERY,INSOMNIA,INSOMNIA,NaN,37.22,0,1,1,True,True
1344,sub-88078793,DISCOVERY,INSOMNIA,INSOMNIA,NaN,48.54,1,1,1,True,True
1345,sub-88078837,DISCOVERY,INSOMNIA,INSOMNIA,NaN,24.63,1,1,1,True,True
1346,sub-88079017,DISCOVERY,INSOMNIA,INSOMNIA,NaN,42.37,1,1,1,True,True