In [2]:
import os
import numpy as np
import pandas as pd
import shutil

In [3]:
# set folder containing participants data as working directory
working_directory = "D:\Documents\RU\Master_Neurobiology\Internship_jaar_2\Project\TD-BRAIN\TDBRAIN_participants_V2_data"
os.chdir(working_directory)
os.getcwd()

'D:\\Documents\\RU\\Master_Neurobiology\\Internship_jaar_2\\Project\\TD-BRAIN\\TDBRAIN_participants_V2_data'

In [4]:
# load participants data
df_full = pd.read_pickle('df_participants.pkl')
df_full

,participants_ID,DISC/REP,indication,formal_status,Dataset,age,gender,sessID,nrSessions,EC,EO
0,sub-19681349,REPLICATION,REPLICATION,REPLICATION,REPLICATION,51.59,0,1,1,True,True
1,sub-19681385,REPLICATION,REPLICATION,REPLICATION,REPLICATION,49.96,1,1,1,True,True
2,sub-19684666,REPLICATION,REPLICATION,REPLICATION,REPLICATION,47.05,1,1,1,True,True
3,sub-19686324,REPLICATION,REPLICATION,REPLICATION,REPLICATION,62.51,1,1,1,True,True
4,sub-19687321,REPLICATION,REPLICATION,REPLICATION,REPLICATION,53.98,1,1,2,True,True
...,...,...,...,...,...,...,...,...,...,...,...
1342,sub-88078657,DISCOVERY,INSOMNIA,INSOMNIA,NaN,58.59,1,1,1,True,True
1343,sub-88078749,DISCOVERY,INSOMNIA,INSOMNIA,NaN,37.22,0,1,1,True,True
1344,sub-88078793,DISCOVERY,INSOMNIA,INSOMNIA,NaN,48.54,1,1,1,True,True
1345,sub-88078837,DISCOVERY,INSOMNIA,INSOMNIA,NaN,24.63,1,1,1,True,True
1346,sub-88079017,DISCOVERY,INSOMNIA,INSOMNIA,NaN,42.37,1,1,1,True,True

In [5]:
# select participants with atleast an indication of ADHD or healthy
df_adhd = df_full[df_full['indication'].str.contains('ADHD|HEALTHY') == True]
df_adhd

,participants_ID,DISC/REP,indication,formal_status,Dataset,age,gender,sessID,nrSessions,EC,EO
245,sub-87974617,DISCOVERY,HEALTHY,HEALTHY,NaN,NaN,0,1,1,True,True
246,sub-87974621,DISCOVERY,HEALTHY,HEALTHY,NaN,NaN,0,1,1,True,True
247,sub-87974665,DISCOVERY,HEALTHY,HEALTHY,NaN,23.37,0,1,1,True,True
248,sub-87974709,DISCOVERY,HEALTHY,HEALTHY,NaN,20.31,1,1,1,True,True
249,sub-87974841,DISCOVERY,HEALTHY,HEALTHY,NaN,21.59,1,1,1,True,True
...,...,...,...,...,...,...,...,...,...,...,...
1310,sub-88076357,DISCOVERY,ADHD,UNKNOWN,NaN,45.59,0,1,1,True,True
1313,sub-88076489,DISCOVERY,ADHD,UNKNOWN,NaN,34.93,1,1,1,True,True
1318,sub-88076805,DISCOVERY,ADHD,UNKNOWN,NaN,30.81,1,1,1,True,True
1321,sub-88076989,DISCOVERY,ADHD,ADHD,NaN,24.73,1,1,1,True,True
1327,sub-88077393,DISCOVERY,ADHD,UNKNOWN,NaN,14.69,1,1,1,True,True

In [6]:
# count number of participants with an indication of ADHD and healthy
df_ind_adhd = df_adhd[df_adhd['indication'].str.contains('ADHD|HEALTHY') == True]
print(f"# of participants formally diagnosed with ADHD: {df_ind_adhd[df_ind_adhd['indication'].str.contains('ADHD')].shape[0]}")
print(f"# of healthy participants: {df_ind_adhd[df_ind_adhd['indication'].str.contains('HEALTHY')].shape[0]}")

# of participants formally diagnosed with ADHD: 234
# of healthy participants: 47

In [7]:
# select participants with a formal diagnosis of ADHD or healthy
df_formal_adhd = df_adhd[df_adhd['formal_status'].str.contains('ADHD|HEALTHY') == True]
print(f"# of participants formally diagnosed with ADHD: {df_formal_adhd[df_formal_adhd['formal_status'].str.contains('ADHD')].shape[0]}")
print(f"# of healthy participants: {df_formal_adhd[df_formal_adhd['formal_status'].str.contains('HEALTHY')].shape[0]}")
df_formal_adhd

# of participants formally diagnosed with ADHD: 77
# of healthy participants: 47

,participants_ID,DISC/REP,indication,formal_status,Dataset,age,gender,sessID,nrSessions,EC,EO
245,sub-87974617,DISCOVERY,HEALTHY,HEALTHY,NaN,NaN,0,1,1,True,True
246,sub-87974621,DISCOVERY,HEALTHY,HEALTHY,NaN,NaN,0,1,1,True,True
247,sub-87974665,DISCOVERY,HEALTHY,HEALTHY,NaN,23.37,0,1,1,True,True
248,sub-87974709,DISCOVERY,HEALTHY,HEALTHY,NaN,20.31,1,1,1,True,True
249,sub-87974841,DISCOVERY,HEALTHY,HEALTHY,NaN,21.59,1,1,1,True,True
...,...,...,...,...,...,...,...,...,...,...,...
1265,sub-88073205,DISCOVERY,ADHD,ADHD,NaN,9.32,1,1,1,True,True
1277,sub-88074021,DISCOVERY,ADHD,ADHD,NaN,29.96,1,1,1,True,True
1292,sub-88075053,DISCOVERY,HEALTHY,HEALTHY,NaN,45.52,0,1,1,True,True
1293,sub-88075101,DISCOVERY,ADHD,ADHD,NaN,9.97,0,1,1,True,True
1321,sub-88076989,DISCOVERY,ADHD,ADHD,NaN,24.73,1,1,1,True,True

In [6]:
# randomly sample 20 participants from ADHD group and healthy group
n = 25
df_sample_adhd = df_formal_adhd.groupby('formal_status', group_keys=False, observed=False).apply(lambda x: x.sample(min(len(x), n), random_state=42), include_groups=True).reset_index(drop=True)
df_sample_adhd

C:\Users\tuur\AppData\Local\Temp\ipykernel_7512\45351271.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_sample_adhd = df_formal_adhd.groupby('formal_status', group_keys=False, observed=False).apply(lambda x: x.sample(min(len(x), n), random_state=42), include_groups=True).reset_index(drop=True)

,participants_ID,DISC/REP,indication,formal_status,Dataset,age,gender,sessID,nrSessions,EC,EO
0,sub-88025421,DISCOVERY,ADHD,ADHD,ADHD_NF,14.00,1,1,1,True,True
1,sub-88045173,DISCOVERY,ADHD,ADHD,NaN,7.44,1,1,1,True,True
2,sub-88029557,DISCOVERY,ADHD,ADHD,NaN,27.02,0,1,1,True,True
3,sub-88015117,DISCOVERY,ADHD,ADHD,ADHD_NF,38.00,0,1,1,True,True
4,sub-88053361,DISCOVERY,ADHD,ADHD,ADHD_NF,10.38,1,1,1,True,True
5,sub-88057101,DISCOVERY,ADHD/OCD,ADHD,ADHD_NF/OCD,37.44,0,1,1,True,True
6,sub-88067629,DISCOVERY,ADHD,ADHD,ADHD_NF,14.15,1,1,1,True,True
7,sub-88060833,DISCOVERY,ADHD,ADHD,ADHD_NF,37.48,1,1,1,True,True
8,sub-88058589,DISCOVERY,ADHD,ADHD,ADHD_NF,48.60,1,1,1,True,True
9,sub-88041485,DISCOVERY,ADHD,ADHD,NaN,9.86,1,1,1,True,True
10,sub-88069289,DISCOVERY,ADHD,ADHD,NaN,30.05,1,1,1,True,True
11,sub-88074021,DISCOVERY,ADHD,ADHD,NaN,29.96,1,1,1,True,True
12,sub-88038473,DISCOVERY,ADHD,ADHD,ADHD_NF,11.00,1,1,1,True,True
13,sub-88030505,DISCOVERY,ADHD,ADHD,NaN,10.52,1,1,1,True,True
14,sub-88064433,DISCOVERY,ADHD,ADHD,ADHD_NF,25.33,0,1,1,True,True
15,sub-88042705,DISCOVERY,ADHD,ADHD,NaN,43.75,1,1,1,True,True
16,sub-88029425,DISCOVERY,ADHD,ADHD,NaN,34.84,1,1,1,True,True
17,sub-88025917,DISCOVERY,ADHD,ADHD,ADHD_NF,15.00,1,1,1,True,True
18,sub-88044189,DISCOVERY,ADHD,ADHD,ADHD_NF,10.00,1,1,1,True,True
19,sub-88040317,DISCOVERY,ADHD,ADHD,NaN,45.41,1,1,1,True,True
20,sub-88041985,DISCOVERY,ADHD,ADHD,NaN,8.50,0,1,1,True,True
21,sub-88051337,DISCOVERY,ADHD,ADHD,ADHD_NF,23.47,1,1,1,True,True
22,sub-88050529,DISCOVERY,ADHD,ADHD,ADHD_NF,11.95,1,1,1,True,True
23,sub-88036265,DISCOVERY,ADHD,ADHD,NaN,9.13,1,1,1,True,True
24,sub-88067541,DISCOVERY,ADHD,ADHD,ADHD_NF,19.83,0,1,1,True,True
25,sub-88008997,DISCOVERY,HEALTHY,HEALTHY,NaN,23.20,0,1,1,True,True
26,sub-88058001,DISCOVERY,HEALTHY,HEALTHY,NaN,30.86,0,1,1,True,True
27,sub-87982849,DISCOVERY,HEALTHY,HEALTHY,NaN,30.06,1,1,1,True,True
28,sub-88067853,DISCOVERY,HEALTHY,HEALTHY,NaN,37.88,0,1,1,True,True
29,sub-87980913,DISCOVERY,HEALTHY,HEALTHY,NaN,NaN,0,1,1,True,True
30,sub-88055301,DISCOVERY,HEALTHY,HEALTHY,NaN,40.02,1,1,1,True,True
31,sub-87976641,DISCOVERY,HEALTHY,HEALTHY,NaN,NaN,0,1,1,True,True
32,sub-87980329,DISCOVERY,HEALTHY,HEALTHY,NaN,NaN,0,1,1,True,True
33,sub-87974841,DISCOVERY,HEALTHY,HEALTHY,NaN,21.59,1,1,1,True,True
34,sub-87982225,DISCOVERY,HEALTHY,HEALTHY,NaN,20.93,1,1,1,True,True
35,sub-87976413,DISCOVERY,HEALTHY,HEALTHY,NaN,NaN,0,1,1,True,True
36,sub-87974709,DISCOVERY,HEALTHY,HEALTHY,NaN,20.31,1,1,1,True,True
37,sub-87976193,DISCOVERY,HEALTHY,HEALTHY,NaN,21.82,1,1,1,True,True
38,sub-88058633,DISCOVERY,HEALTHY,HEALTHY,NaN,34.95,0,1,1,True,True
39,sub-88053453,DISCOVERY,HEALTHY,HEALTHY,NaN,44.41,1,1,1,True,True
40,sub-87976773,DISCOVERY,HEALTHY,HEALTHY,NaN,NaN,0,1,1,True,True
41,sub-87980197,DISCOVERY,HEALTHY,HEALTHY,NaN,NaN,0,1,1,True,True
42,sub-88068841,DISCOVERY,HEALTHY,HEALTHY,NaN,52.30,1,1,1,True,True
43,sub-87976953,DISCOVERY,HEALTHY,HEALTHY,NaN,20.91,0,1,1,True,True
44,sub-87976457,DISCOVERY,HEALTHY,HEALTHY,NaN,20.34,0,1,1,True,True
45,sub-87977045,DISCOVERY,HEALTHY,HEALTHY,NaN,18.30,0,1,1,True,True
46,sub-88041941,DISCOVERY,HEALTHY,HEALTHY,NaN,47.59,1,1,1,True,True
47,sub-88051073,DISCOVERY,HEALTHY,HEALTHY,NaN,26.50,1,1,1,True,True
48,sub-88073029,DISCOVERY,HEALTHY,HEALTHY,NaN,28.67,0,1,1,True,True
49,sub-87974617,DISCOVERY,HEALTHY,HEALTHY,NaN,NaN,0,1,1,True,True

In [86]:
# create directory containing the sample raw EEG data

eeg_dir = "D:\Documents\RU\Master_Neurobiology\Internship_jaar_2\Project\TD-BRAIN\TDBRAIN-dataset-derivatives\derivatives"
exlude_dirs = ['preprocessed', 'results_manuscript'] # exclude these directories
sample_ids = df_sample_adhd['participants_ID'].tolist() # list of participants to include
sample_dir = "D:\Documents\RU\Master_Neurobiology\Internship_jaar_2\Project\TD-BRAIN\TDBRAIN-dataset-derivatives\derivatives/adhd_sample"

for subdir, dirs, files in os.walk(eeg_dir): # iterate through all files
    dirs[:] = [d for d in dirs if d not in exlude_dirs] # exclude directories
    for file in files:
        if any(sample_id in file for sample_id in sample_ids): # filter participants to include
            if 'ses-1' in file: # filter first session
                
                sample_path = os.path.join(sample_dir, file.split('_')[0]) # create directory including ID to copy files to

                path_file = os.path.join(subdir, file) # path to original file

                os.makedirs(sample_path, exist_ok=True) # create subdirectories if it does not exist

                shutil.copy2(path_file, sample_path) # copy file to sample directory

In [8]:
# create directory containing the sample preprocessed EEG data

eeg_dir = "D:\Documents\RU\Master_Neurobiology\Internship_jaar_2\Project\TD-BRAIN\TDBRAIN-dataset-derivatives\derivatives\preprocessed"
# exlude_dirs = ['preprocessed', 'results_manuscript'] # exclude these directories
sample_ids = df_sample_adhd['participants_ID'].tolist() # list of participants to include
sample_dir = "D:\Documents\RU\Master_Neurobiology\Internship_jaar_2\Project\TD-BRAIN\TDBRAIN-dataset-derivatives\derivatives/adhd_sample/preprocessed"

for subdir, dirs, files in os.walk(eeg_dir): # iterate through all files
    #dirs[:] = [d for d in dirs if d not in exlude_dirs] # exclude directories
    for file in files:
        if any(sample_id in file for sample_id in sample_ids): # filter participants to include
            if 'ses-1' in file: # filter first session
                
                sample_path = os.path.join(sample_dir, file.split('_')[0]) # create directory including ID to copy files to

                path_file = os.path.join(subdir, file) # path to original file

                os.makedirs(sample_path, exist_ok=True) # create subdirectories if it does not exist

                shutil.copy2(path_file, sample_path) # copy file to sample directory

In [87]:
# save sample dataframe
df_sample_adhd.to_pickle('df_sample_adhd.pkl')

### Entire formal ADHD group

In [8]:
# select only first session from formal ADHD group
print(df_formal_adhd.shape[0])
df_formal_adhd = df_formal_adhd[df_formal_adhd['sessID'] == 1]
print(df_formal_adhd.shape[0])

124
122

In [12]:
print(f"# of participants formally diagnosed with ADHD: {df_formal_adhd[df_formal_adhd['formal_status'].str.contains('ADHD')].shape[0]}")
print(f"# of healthy participants: {df_formal_adhd[df_formal_adhd['formal_status'].str.contains('HEALTHY')].shape[0]}")
df_formal_adhd.head(3)

# of participants formally diagnosed with ADHD: 77
# of healthy participants: 47

,participants_ID,DISC/REP,indication,formal_status,Dataset,age,gender,sessID,nrSessions,EC,EO
245,sub-87974617,DISCOVERY,HEALTHY,HEALTHY,NaN,NaN,0,1,1,True,True
246,sub-87974621,DISCOVERY,HEALTHY,HEALTHY,NaN,NaN,0,1,1,True,True
247,sub-87974665,DISCOVERY,HEALTHY,HEALTHY,NaN,23.37,0,1,1,True,True

In [13]:
# create directory containing the sample preprocessed EEG data

eeg_dir = "D:\Documents\RU\Master_Neurobiology\Internship_jaar_2\Project\TD-BRAIN\TDBRAIN-dataset-derivatives\derivatives\preprocessed"
# exlude_dirs = ['preprocessed', 'results_manuscript'] # exclude these directories
sample_ids = df_formal_adhd['participants_ID'].tolist() # list of participants to include
sample_dir = "D:\Documents\RU\Master_Neurobiology\Internship_jaar_2\Project\TD-BRAIN\TDBRAIN-dataset-derivatives\derivatives/adhd_sample/data/preprocessed_data"

for subdir, dirs, files in os.walk(eeg_dir): # iterate through all files
    #dirs[:] = [d for d in dirs if d not in exlude_dirs] # exclude directories
    for file in files:
        if any(sample_id in file for sample_id in sample_ids): # filter participants to include
            if 'ses-1' in file: # filter first session
                
                sample_path = os.path.join(sample_dir, file.split('_')[0]) # create directory including ID to copy files to

                path_file = os.path.join(subdir, file) # path to original file

                os.makedirs(sample_path, exist_ok=True) # create subdirectories if it does not exist

                shutil.copy2(path_file, sample_path) # copy file to sample directory

In [14]:
# save sample dataframe
df_formal_adhd.to_pickle('df_formal_adhd.pkl')
df_formal_adhd.to_pickle('D:\Documents\RU\Master_Neurobiology\Internship_jaar_2\Project\Connectivity_project\EEG-Connectivity\df_formal_adhd.pkl')
df_formal_adhd.to_pickle('D:\Documents\RU\Master_Neurobiology\Internship_jaar_2\Project\TD-BRAIN\TDBRAIN-dataset-derivatives\derivatives/adhd_sample\df_formal_adhd.pkl')